<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ruanmeng.credit_card">

    <application
        android:name="com.ruanmeng.Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".GuideActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AgencyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MessageActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CashoutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WebActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MemberActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MemberDoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ForgetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BankcardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SavingsCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CreditCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BankSelectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BankDoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BillActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RealActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ShareActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SettingPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PasswordLoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SavingsDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PasswordPayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CreditDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PlanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PlanPayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PlanBackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".InfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NicknameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ScanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RealNameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GatherActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RecommendActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PlanPreviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BankCodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GatherCodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RepaymentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PlanDownActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CreditModifyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NoticeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BillDetailActivity"
            android:screenOrientation="portrait" />

        <!-- 融云即时通讯 start -->
        <!-- 会话界面 -->
        <activity
            android:name=".ConversationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="${applicationId}"
                    android:pathPrefix="/conversation/"
                    android:scheme="rong" />
            </intent-filter>
        </activity>
        <!-- 必须实现，否则会收不到推送消息，自定义的类继承自 PushMessageReceiver -->
        <receiver
            android:name="com.ruanmeng.receiver.RongPushReceiver"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="io.rong.push.intent.MESSAGE_ARRIVED" />
                <action android:name="io.rong.push.intent.MI_MESSAGE_ARRIVED" />
                <action android:name="io.rong.push.intent.MESSAGE_CLICKED" />
                <action android:name="io.rong.push.intent.MI_MESSAGE_CLICKED" />
            </intent-filter>
        </receiver>
        <!-- Android 7.0 应用间共享文件 -->
        <provider
            android:name="io.rong.imkit.RongCloudFileProvider"
            android:authorities="${applicationId}.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/allinpay_path" />
        </provider>
        <!-- 融云即时通讯 end -->


        <!-- JPush 用户自定义的广播接收器 -->
        <receiver
            android:name="com.ruanmeng.receiver.JPushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!-- Required  用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.UNREGISTRATION" />
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!-- Required  用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!-- Required  用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!-- Required  用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK" /> <!-- Optional 用户接受Rich Push Javascript 回调函数的intent -->
                <action android:name="cn.jpush.android.intent.CONNECTION" /> <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>

        <!-- Required since 3.0.7 -->
        <!-- 新的tag/alias接口结果返回需要开发者配置一个自定的广播 -->
        <!-- 该广播需要继承JPush提供的JPushMessageReceiver类, 并如下新增一个 Intent-Filter -->
        <receiver
            android:name="com.ruanmeng.receiver.JPushMessageReceiver"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>
        <!-- JPush end -->


        <!-- 微信分享 start -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- 微信分享 end -->


        <!-- 通联支付共享文件 -->
        <provider
            android:name="com.allinpay.appayassistex.APFileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/allinpay_path" />
        </provider>

        <activity android:name=".FeedbackActivity"></activity>
    </application>

</manifest>